.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ff7b00;
    font-size: 15px;
    min-width: 135px;
    color: #fff;
    height: 40px;
    margin-right: 16px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.chevron{
    width: 8px;
    margin-right: 4px;
}

.Button:hover{
    background-color: #e47105;
    transition: 0.3s;
}

.ContentBtn{
    margin-right: 4px;
    text-transform: uppercase; 
}