@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1{
    color: #00a174;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
}